* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("../images/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}
header #nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
}

#nav .logo {
  width: 100px;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tahoma;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  margin-left: 20px;
}

#nav ul {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  transition: 1s ease;
}

#nav ul li {
  list-style: none;
}

#nav ul li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#nav button {
  width: 50px;
  height: 10vh;
  font-size: 36px;
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 640px) {
  #nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90vh;
    transition: 1s ease;
    transform: translateX(100%);
  }

  #nav ul.active {
    transform: translateX(0%);
  }
  #nav button {
    display: block;
    height: 10vh;
    position: absolute;
    right: 20px;
  }
}
